

.u-section-1 {
  background-image: linear-gradient(to right, #e84a90, #ffca00);
  min-height: 885px;
}

.u-section-1 .u-shape-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -149px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 883px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-11 {
  line-height: 2;
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  margin: 39px auto 0 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 902px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 728px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1177px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 494px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 30px;
    margin-bottom: -13px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1596px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }
}


@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2091px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -295px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }
}


/* */




.u-section-11 {
  /* background-image: linear-gradient(to right, #e84a90, #ffca00); */
  min-height: 885px;
}

.u-section-11 .u-shape-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-list-1 {
  width: 1140px;
  margin: -149px auto 0;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-11 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-11 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-11 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-11 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-11 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-11 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px;
}

.u-section-11 .u-form-1 {
  margin: 0;
}

.u-section-11 .u-form-group-1 {
  width: 100%;
}

.u-section-11 .u-label-1 {
  font-weight: 700;
}

.u-section-11 .u-form-group-2 {
  width: 100%;
}

.u-section-11 .u-label-2 {
  font-weight: 700;
}

.u-section-11 .u-form-group-3 {
  width: 100%;
}

.u-section-11 .u-label-3 {
  font-weight: 700;
}

.u-section-11 .u-input-3 {
  font-weight: 700;
}

.u-section-11 .u-form-group-4 {
  width: 100%;
}

.u-section-11 .u-label-4 {
  font-weight: 700;
}

.u-section-11 .u-input-4 {
  font-weight: 700;
}

.u-section-11 .u-form-group-5 {
  width: 100%;
}

.u-section-11 .u-label-5 {
  font-weight: 700;
}

.u-section-11 .u-input-5 {
  font-weight: 700;
}

.u-section-11 .u-form-group-6 {
  width: 100%;
}

.u-section-11 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 883px;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px;
}

.u-section-11 .u-text-9 {
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-10 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-11 .u-text-11 {
  line-height: 2;
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-11 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  margin: 39px auto 0 0;
}

.u-section-11 .u-icon-5 {
  height: 100%;
}

.u-section-11 .u-icon-6 {
  height: 100%;
}

.u-section-11 .u-icon-7 {
  height: 100%;
}

.u-section-11 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 902px;
  }

  .u-section-11 .u-list-1 {
    width: 940px;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 728px;
  }

  .u-section-11 .u-text-9 {
    margin-right: 0;
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 1177px;
  }

  .u-section-11 .u-list-1 {
    width: 720px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 494px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 30px;
    margin-bottom: -13px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 1596px;
  }

  .u-section-11 .u-list-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-right: 10px;
  }
}


@media (max-width: 575px) {
   .u-section-11 {
    min-height: 2091px;
  }

  .u-section-11 .u-list-1 {
    width: 340px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -295px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-9 {
    font-size: 1.875rem;
  }
}