/* #sidebarToggle.navIcons{
  transform: rotate(180deg);
} */

body {
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #333;
}
/*  */

.nav-link:hover {
  background-color: #00c1fe;
  color: #000;
}

.nav-bar_left .active {
  background-color: #00c1fe;
  color: #000;
}

.nav-bar_left .nav-link {
  margin: 5px 0;
}

.cart-info-1 {
  background-color: #f0f9ff;
}

.cart-info-1 i {
  color: #74c1ed;
}

.cart-info-2 {
  background-color: #fef6fb;
}

.cart-info-2 i {
  color: #ee95c5;
}

.cart-info-3 {
  background-color: linear-gradient(to right, #e84a90, #ffca00);;
}

.cart-info-3 i {
  color: #00c1fe;
}

.cart-info-4 {
  background: linear-gradient(110.42deg, #00c1fe 18.27%, #faffc1 91.84%);
}

.cart-info-4 i,
.p-user {
  color: #ffffff;
}


/* .backGround{
  background-image: linear-gradient(to right, #e84a90, #ffca00);;
} */